<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Listado Prestamos</title>
    <meta charset="UTF-8" />
</head>

<body>
    <section th:fragment="listadoprestamogeneral" id="prestamos">
        <div class="container-fluid mt-1">
            <div th:if="${successMessage}" class="alert alert-success alert-dismissible mt-2 fade show">
                <p th:text="${successMessage}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card border-left-primary shadow mt-3 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div th:text="#{prestamo.pendiente}"
                                                class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                [[${new java.text.DecimalFormat('$#,##0.00').format(totalPendiente)}]]
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-money-bill-wave fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-left-primary shadow mt-3 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div th:text="#{pagare.pendiente}"
                                                class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                [[${pagaresPendientes}]]
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-solid fa-file-invoice-dollar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-left-primary shadow mt-3 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div th:text="#{pagare.totalpagado}"
                                                class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                [[${new java.text.DecimalFormat('$#,##0.00').format(totalPagado)}]]
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-regular fa-money-bill-1 fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-left-primary shadow mt-3 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div th:text="#{prestamo.prestamos}"
                                                class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Earnings (Monthly)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                [[${totalPrestamos}]]
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa-regular fa-handshake fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="card">
                        <div th:if="${prestamos != null and !prestamos.empty}">
                          <table class="table table-stryped">
                            <thead class="thead-dark">
                            <tr>
                              <th>#</th>
                              <th th:text="#{prestamo.codigo}">No</th>
                              <th th:text="#{cliente.cliente}">Nombre</th>
                              <th th:text="#{cliente.cedula}">Nombre</th>
                              <th th:text="#{prestamo.monto1}">Capital</th>
                              <th th:text="#{prestamo.interes}">Interes</th>
                              <th th:text="#{prestamo.cuotas}">cuotas</th>
                              <th th:text="#{tabla.fecha}">fecha</th>
                              <th th:text="#{prestamo.tipo}">Tipo</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="prestamo, contador : ${prestamos}">
                              <td>[[${contador.count}]]</td>
                              <td>[[${prestamo.idPrestamo}]]</td>
                              <td th:text="${prestamo.cliente.nombre} + ' ' +${prestamo.cliente.apellido}"></td>
                              <td>[[${prestamo.cliente.cedula}]]</td>
                              <td>[[${new java.text.DecimalFormat('$#,##0.00').format(prestamo.monto)}]]</td>
                              <td>[[${new java.text.DecimalFormat('$#,##0.00').format(prestamo.interes)}]]</td>
                              <td>[[${prestamo.cuotas}]]</td>
                              <td>[[${#temporals.format(prestamo.fecha, 'MMMM d, yyyy')}]]</td>
                              <td>[[${prestamo.tipoPrestamo}]]</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="text-center p-2" th:if="${prestamos == null or prestamos.empty}">
                          <span th:text="#{persona.lista-vacia}">Lista vacía</span>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>