<nav th:fragment="sidebar">
  <div class="logo-name">
    <div class="logo-image">
      <img src="/img/icon.png" alt="icon" />
    </div>

    <span class="logo_name">EasyRoute</span>
  </div>

  <div class="menu-items">
    <ul class="nav-links">
      <li>
        <a th:href="@{/}">
          <i th:class="${dashboardPage} ? 'uil uil-estate text-primary' : 'uil uil-estate'"></i>
          <span th:class="${dashboardPage} ? 'link-name text-primary fw-bold' : 'link-name'">Dashboard</span>
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/usuarios}">
          <i th:class="${usersPage} ? 'uil uil-users-alt text-primary' : 'uil uil-users-alt'"></i>
          <span th:class="${usersPage} ? 'link-name text-primary fw-bold' : 'link-name'">Usuarios</span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/verrutas}">
          <i th:class="${routesPage} ? 'uil uil-map-marker text-primary' : 'uil uil-map-marker'"></i>
          <span th:class="${routesPage} ? 'link-name text-primary fw-bold' : 'link-name'">Rutas</span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/verclientes}">
          <i th:class="${customersPage} ? 'uil uil-user-square text-primary' : 'uil uil-user-square'"></i>
          <span th:class="${customersPage} ? 'link-name text-primary fw-bold' : 'link-name'">Clientes</span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/verprestamos}">
          <i th:class="${loansPage} ? 'uil uil-money-stack text-primary' : 'uil uil-money-stack'"></i>
          <span th:class="${loansPage} ? 'link-name text-primary fw-bold' : 'link-name'">Prestamos</span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/verpagares}">
          <i th:class="${paymentsPage} ? 'uil uil-bill text-primary' : 'uil uil-bill'"></i>
          <span th:class="${paymentsPage} ? 'link-name text-primary fw-bold' : 'link-name'">Pagares</span>
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/cuadres}">
          <i th:class="${cuadresPage} ? 'uil uil-chart-bar text-primary' : 'uil uil-chart-bar'"></i>
          <span th:class="${cuadresPage} ? 'link-name text-primary fw-bold' : 'link-name'">Cuadres</span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a th:href="@{/vercobranzas}">
          <i th:class="${cobranzasPage} ? 'uil uil-clock text-primary' : 'uil uil-clock'"></i>
          <span th:class="${cobranzasPage} ? 'link-name text-primary fw-bold' : 'link-name'">Cobranzas</span>
        </a>
      </li>
      <li sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/verempresa}">
          <i th:class="${companyPage} ? 'uil uil-building text-primary' : 'uil uil-building'"></i>
          <span th:class="${companyPage} ? 'link-name text-primary fw-bold' : 'link-name'">Empresa</span>
        </a>
      </li>
    </ul>

    <ul class="logout-mode">
      <li>
        <form method="POST" th:action="@{/logout}">
          <a href="#" onclick="this.parentNode.submit();">
            <i class="uil uil-signout"></i>
            <span class="link-name">Logout</span>
          </a>
        </form>
      </li>
      <li class="mode">
        <a href="#">
          <i class="uil uil-moon"></i>
          <span class="link-name">Dark Mode</span>
        </a>
        <div class="mode-toggle">
          <span class="switch"></span>
        </div>
      </li>
    </ul>
  </div>
</nav>