<section th:fragment="listadoPagares" id="pagares" class="dashboard">
  <div class="container-fluid pt-3">
    <link rel="stylesheet" th:href="@{/css/rutas.css}" />
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>

      <div class="search-box-ruta">
        <i class="uil uil-search"></i>
        <input type="text" id="filterInput" th:placeholder="#{panel.filtrar}" class="search-box" />
        <div class="radio-box text-center">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterType" id="inlineRadio1"
              th:text="#{pagare.nopagare}" value="numeroPagare" checked>
            <label class="form-check-label" for="inlineRadio1"></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterType" id="inlineRadio2"
              th:text="#{cliente.cliente}" value="nombreCliente">
            <label class="form-check-label" for="inlineRadio2"></label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="filterType" id="inlineRadio3"
              th:text="#{pagare.vencimiento}" value="vencimiento">
            <label class="form-check-label" for="inlineRadio3"></label>
          </div>
        </div>
      </div>
      <img src="/img/profile.jpg" alt="" />
    </div>
    <div class="dash-content">
      <div th:if="${successMessage}" class="alert alert-success alert-dismissible mt-2 fade show">
        <p th:text="${successMessage}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="overview">
        <div class="title">
          <i class="uil uil-tachometer-fast-alt"></i>
          <span class="text">Pagares</span>
        </div>
      </div>
    </div>
    <div class="container-fluid mt-1">
      <div class="row">
        <div class="col-md-12 mt-3 border border-2 rounded-3 table-container">
          <div class="card border border-0">
            <div th:if="${pagares != null and !pagares.empty}" class="border border-0">
              <table id="dataTable" class="table table-borderless border-0 border-dark">
                <thead>
                  <tr>
                    <th th:text="#{pagare.nopagare}">No</th>
                    <th th:text="#{cliente.nombre}">Nombre</th>
                    <th>Apellido</th>
                    <th th:text="#{pagare.capital}">Capital</th>
                    <th th:text="#{pagare.interes}">Interes</th>
                    <th th:text="#{pagare.total}">Total</th>
                    <th th:text="#{pagare.vencimiento}">Vencimiento</th>
                    <th>Estatus</th>
                    <th>Imprimir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="pagare, contador : ${pagares}">
                    <td>[[${pagare.noPagare}]]</td>
                    <td>[[${pagare.prestamo.cliente.nombre}]]</td>
                    <td>[[${pagare.prestamo.cliente.apellido}]]</td>
                    <td>[[${new
                      java.text.DecimalFormat('$#,##0.00').format(pagare.capital)}]]
                    </td>
                    <td>[[${new
                      java.text.DecimalFormat('$#,##0.00').format(pagare.interes)}]]
                    </td>
                    <td><strong>[[${new
                        java.text.DecimalFormat('$#,##0.00').format(pagare.total)}]]</strong></td>
                    <td>[[${#temporals.format(pagare.vencimiento, 'MMMM d, yyyy')}]]</td>
                    <td th:if="${pagare.reciboGen != null}">🟢 Pago</td>
                    <td th:if="${pagare.reciboGen == null and pagare.vencimiento.isAfter(currentTime)}">🟡 Pendiente
                    </td>
                    <td th:if="${pagare.vencimiento.isBefore(currentTime) and pagare.reciboGen == null}">🔴 Vencido</td>
                    <td>
                      <a target="_blank" sec:authorize="hasRole('ROLE_USER')" th:href="@{/paginaimprimirrecibo/} + ${pagare.idPagare}"
                        class="btn btn-primary rounded text-center">
                        <i class="fas fa-print"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center p-2" th:if="${pagares == null or pagares.empty}">
              <span th:text="#{persona.lista-vacia}">Lista vacía</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>