<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Rutas</title>
        <meta charset="UTF-8"/>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <section th:fragment="listadoHome" id="home">
            <div class="container pt-5">
                <div>
                    <h1 class="display-5"><b>[[#{panel.panelprincipal}]]</b>  <span class="badge bg-secondary">Easy Route</span></h1>
                </div>
                <div class="card mt-3 shadow p-3 bg-body-tertiary rounded">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-black mb-3 shadow-sm">
                                            <a th:href="@{/verrutas/}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                                <i class="fa-solid fa-route"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.rutas}]]</p>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/verclientes}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                                <i class="fa-solid fa-person"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.clientes}]]</p>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/verprestamos}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                                <i class="fa-solid fa-hands-asl-interpreting"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.prestamos}]]</p>
                                                </div>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/verpagares}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                               <i class="fa-solid fa-receipt"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.recibos}]]</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/cuadres}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                               <i class="fa-regular fa-square-check"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.cuadre}]]</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/cobranzas}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                               <i class="fa-solid fa-file-invoice-dollar"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.cobranzas}]]</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/usuarios}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                               <i class="fa-solid fa-users"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.usuarios}]]</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card text-center bg-dark text-white mb-3 shadow-sm">
                                            <a th:href="@{/empresa}" class="btn">
                                                <div class="card-body">
                                            <span style="font-size: 3em; color: white;">
                                               <i class="fa-solid fa-building"></i>
                                            </span>
                                                    <p class="fs-4 text-light">[[#{panel.empresa}]]</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </body>
</html>


