<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      <head>
      <title>Agregar Zona</title>
  <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="agregarZona">
  <div class="modal fade" id="agregarZona" tabindex="-1" aria-labelledby="agregarZonalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="agregarZona" th:text="#{zona.agregarzona}">Agregar Zona</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form th:action="@{/guardarZona}" th:object="${zona}"
                method="POST" class="was-validated">
            <div class="mb-3">
              <label for="nombre" class="col-form-label" th:text="#{zona.nombre}">Nombre</label>
              <input type="text" class="form-control" th:field="*{nombre}" id="nombre" required="true">
            </div>
            <div class="mb-3">
              <label for="direccion" class="col-form-label" th:text="#{zona.direccion}">Direccion</label>
              <textarea class="form-control" id="direccion" th:field="*{direccion}" required="true"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{barra.salir}">Close</button>
              <button type="submit" class="btn btn-primary" th:text="#{zona.agregarzona}">Send message</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>
</body>
</html>
</title>
</head>
<body>

</body>
</html>