<section th:fragment="listadoRutas" class="dashboard" sec:authorize="hasRole('ROLE_ADMIN')">
    <link rel="stylesheet" th:href="@{/css/rutas.css}" />
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box-ruta">
            <i class="uil uil-search"></i>
            <input type="text" id="filterInput" th:placeholder="#{panel.filtrar}" class="search-box" />
            <div class="radio-box text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filterType" id="inlineRadio1"
                        th:text="#{ruta.nombre}" value="rutaNombre" checked>
                    <label class="form-check-label" for="inlineRadio1"></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filterType" id="inlineRadio2"
                        th:text="#{ruta.dia}" value="rutaDia">
                    <label class="form-check-label" for="inlineRadio2"></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filterType" id="inlineRadio3"
                        th:text="#{ruta.zona}" value="rutaZona">
                    <label class="form-check-label" for="inlineRadio3"></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filterType" id="inlineRadio4"
                        th:text="#{panel.cobrador}" value="rutaCobrador">
                    <label class="form-check-label" for="inlineRadio4"></label>
                </div>
            </div>
        </div>
        <div>
            <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary rounded-pill shadow float-end ms-3"
                data-bs-toggle="modal" data-bs-target="#agregarRuta" data-bs-whatever="@mdo">
                <i class="fas fa-plus"></i>
                <b>[[#{ruta.agregar}]]</b>
            </button>
            <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary rounded-pill shadow float-end ms-0"
                data-bs-toggle="modal" data-bs-target="#agregarZona" data-bs-whatever="@mdo">
                <i class="fa-solid fa-map-location-dot"></i>
                <b>[[#{zona.agregarzona}]]</b>
            </button>
        </div>

        <img src="/img/profile.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">Rutas</span>
            </div>

            <div class="activity-data">
                <div class="row ps-2">
                    <div class="col-md-9 border border-2 rounded-3 table-container2">
                        <!-- Display success message if available -->
                        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show">
                            <p th:text="${successMessage}"></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="card border border-0 table-container">
                            <div th:if="${rutas != null and !rutas.empty}" class="border border-0">
                                <table id="dataTable" class="table table-borderless border-0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{ruta.nombre}">Nombre</th>
                                            <th th:text="#{ruta.dia}">Dia</th>
                                            <th th:text="#{ruta.zona}">Zona</th>
                                            <th th:text="#{ruta.cobrador}">Cobrador</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="ruta, contador : ${rutas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${ruta.nombre}]]</td>
                                            <td>[[${ruta.dia}]]</td>
                                            <td>[[${ruta.zona.nombre}]]</td>
                                            <td>[[${ruta.cobrador.nombre + ' ' + ruta.cobrador.apellido }]]</td>
                                            <td>
                                                <a th:href="@{/verclientes/} + ${ruta.idRuta}"
                                                    class="btn btn-primary me-2 rounded">
                                                    <i class="bi bi-people-fill"></i> <!-- [[#{accion.verclientes}]] -->
                                                </a>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')"
                                                    th:href="@{/modificarruta/} + ${ruta.idRuta}" class="btn btn-light">
                                                    <i class="bi bi-pencil-square"></i> <!-- [[#{accion.editar}]] -->
                                                </a>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${rutas == null or rutas.empty}">
                                <span th:text="#{persona.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="boxes-ruta">
                            <div class="box-ruta box1 mb-2">
                                <i class="uil uil-thumbs-up"></i>
                                <span class="text" th:text="#{ruta.porcobrar}"></span>
                                <span class="number">[[${new
                                    java.text.DecimalFormat('$#,##0.00').format(dineroPorCobrar)}]]</span>
                            </div>
                            <div class="box-ruta box2 mb-2">
                                <i class="uil uil-thumbs-up"></i>
                                <span class="text" th:text="#{ruta.rutas}"></span>
                                <span class="number">[[${totalRutas}]]</span>
                            </div>
                            <div class="box-ruta box3 mb-2">
                                <i class="uil uil-comments"></i>
                                <span class="text" th:text="#{cliente.clientes}"></span>
                                <span class="number">[[${totalClientes}]]</span>
                            </div>
                            <div class="box-ruta box1 mb-2">
                                <i class="uil uil-comments"></i>
                                <span class="text" th:text="#{prestamo.prestamos}"></span>
                                <span class="number">[[${totalPrestamos}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>