<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Rutas</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoRutas" id="rutas">
            <div class="container mt-2">
                <div class="row">
                    <div class="col-md-9">
                        <!-- Display success message if available -->
                        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show">
                            <p th:text="${successMessage}"></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="card">
                            <div th:if="${rutas != null and !rutas.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{ruta.nombre}">Nombre</th>
                                            <th th:text="#{ruta.dia}">Dia</th>
                                            <th th:text="#{ruta.zona}">Zona</th>
                                            <th th:text="#{ruta.cobrador}">Cobrador</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="ruta, contador : ${rutas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${ruta.nombre}]]</td>
                                            <td>[[${ruta.dia}]]</td>
                                            <td>[[${ruta.zona.nombre}]]</td>
                                            <td>[[${ruta.cobrador.nombre + ' ' + ruta.cobrador.apellido }]]</td>
                                            <td>
                                                <a th:href="@{/verclientes/} + ${ruta.idRuta}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.verclientes}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/modificarruta/} + ${ruta.idRuta}"
                                                   class="btn btn-secondary">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${rutas == null or rutas.empty}">
                                <span th:text="#{persona.lista-vacia}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-warning text-white mb-3">
                            <div class="card-body">
                                <span class="fs-2"><i class="fa-solid fa-money-bill-wave"></i></span>
                                <h5 class="display-6">
                                    [[${new java.text.DecimalFormat('$#,##0.00').format(dineroPorCobrar)}]]
                                </h5>
                            </div>
                        </div>
                        <div class="card text-center bg-info text-white mb-3">
                            <div class="card-body">
                                <span class="fs-2"><i class="fa-solid fa-route"></i></span>
                                <h5 class="display-6">
                                    [[${totalRutas}]]
                                </h5>
                            </div>
                        </div>
                </div>

            </div>
        </section>
    </body>
</html>
