<section th:fragment="cobranzasHoy" class="dashboard">
    <link rel="stylesheet" th:href="@{/css/rutas.css}" />

    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="mt-3 center-text">
            <h1 style="color: var(--text-color);">FELIZ [[${currentDate}]] 🚀</h1>
        </div>

        <img src="/img/profile.jpg" alt="" />
    </div>
    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Rutas a cobrar hoy</span>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div th:if="${rutas != null and !rutas.empty}">
                        <div class="list-group">
                            <div th:each="ruta : ${rutas}">
                                <div th:if="${ruta.dia} == ${currentDate}">
                                    <a th:href="@{/verclientes/} + ${ruta.idRuta}"
                                        class="list-group-item list-group-item-action rounded shadow"
                                        aria-current="true">
                                        <span
                                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            [[${ruta.clientes.size()}]]
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">[[${ruta.nombre}]] - [[${ruta.idRuta}]] </h5>
                                            <small>[[${ruta.dia}]]</small>
                                        </div>
                                        <p class="mb-1">[[${ruta.zona.nombre}]], [[${ruta.zona.direccion}]]</p>
                                    </a>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="alert alert-primary" role="alert">
                        <h4 class="alert-heading"><i class="fa-solid fa-triangle-exclamation"
                                style="color: #023388;"></i>
                            [[#{ruta.nohay}]]</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxes-ruta">
                        <div class="box-ruta box1 mb-2">
                            <i class="uil uil-thumbs-up"></i>
                            <span class="text" th:text="#{ruta.porcobrar}"></span>
                            <span class="number">[[${new.java.text.DecimalFormat('$#,##0.00').format(porCobrar)}]]</span>
                        </div>
                        <div class="box-ruta box2 mb-2">
                            <i class="uil uil-comments"></i>
                            <span class="text" th:text="#{ruta.rutas}"></span>
                            <span class="number">[[${cantidadRutas}]]</span>
                        </div>
                        <div class="box-ruta box3 mb-2">
                            <i class="uil uil-share"></i>
                            <span class="text" th:text="#{prestamo.prestamos}"></span>
                            <span class="number">[[${cantidadPrestamos}]]</span>
                        </div>
                        <div class="box-ruta box1 mb-2">
                            <i class="uil uil-thumbs-up"></i>
                            <span class="text" th:text="#{pagare.pendiente}"></span>
                            <span class="number">[[${pagaresPendientes}]]</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>