<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Botones Editar</title>
  <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="botonesEditarCliente">
  <div id="actions" class="py-4 mb-4 bg-light mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a th:href="@{/verclientes/}+${cliente.ruta.idRuta}" class="btn btn-ligth btn-block">
            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
          </a>
        </div>
        
      </div>
    </div>
  </div>
</section>
</body>
</html>
