<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Listado Clientes</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="listadoClientes" id="clientes">
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show">
                            <p th:text="${successMessage}"></p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <div class="card">
                            <div th:if="${clientes != null and !clientes.empty}">
                                <div class="table-responsive">
                                    <table id="dataTable" class="table table-stryped">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>#</th>
                                                <th th:text="#{cliente.nombre}">Nombre</th>
                                                <th th:text="#{cliente.apellido}">Apellido</th>
                                                <th th:text="#{cliente.cedula}">Cedula</th>
                                                <th th:text="#{ruta.nombre}">Ruta</th>
                                                <th th:text="#{panel.cobrador}">Direccion</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="cliente, contador : ${clientes}">
                                                <td>[[${contador.count}]]</td>
                                                <td>[[${cliente.nombre}]]</td>
                                                <td>[[${cliente.apellido}]]</td>
                                                <td>[[${cliente.cedula}]]</td>
                                                <td>[[${cliente.ruta.nombre}]]</td>
                                                <td>[[${cliente.ruta.cobrador.nombre} + ' ' + ${cliente.ruta.cobrador.apellido}]]</td>
                                                
                                                <td>
                                                    <a th:href="@{/verprestamos/} + ${cliente.idCliente}"
                                                       class="btn btn-success">
                                                        <i class="fa-regular fa-address-card"></i>[[#{cliente.perfil}]]
                                                    </a>
                                                </td>
                                                <td>
                                                    <a th:href="@{/modificarcliente/} + ${cliente.idCliente}"
                                                       class="btn btn-secondary">
                                                        <i class="fa-solid fa-pen-to-square"></i>[[#{cliente.editar}]]
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="alert alert-primary" role="alert" th:if="${clientes == null or clientes.empty}">
                                <h4 class="alert-heading" th:text="#{cliente.vacia}">Well done!</h4>
                                <i class="fa-solid fa-circle-plus" style="color: #023388;"></i><p th:text="#{cliente.paraagregar}"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>
