.dash-content .boxes-cuadre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes-cuadre .box-cuadre{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 2 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes-cuadre .box-cuadre i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes-cuadre .box-cuadre .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes-cuadre .box-cuadre .number{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes-cuadre .box-cuadre.box2{
    background-color: var(--box2-color);
}
.boxes-cuadre .box-cuadre.box3{
    background-color: var(--box3-color);
}

@media (max-width: 1000px) {
    .dash-content .boxes-cuadre .box-cuadre{
        width: 100%;
    }
}