/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.css";

/* Custom colors */
.custom-color {
    color: #ff0000;
}
.custom-background {
    background-color: #00ff00;
}
.card:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
