</html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/general/head :: head">
  <title>Clientes</title>
</head>

<body>
  <script th:src="@{/js/layout.js}"></script>
  <div id="loading-overlay" class="overlay">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <script text="text/javascript">
    const overlay = document.getElementById("loading-overlay");
    const spinner = document.querySelector(".spinner-border");

    overlay.classList.add("show");
    spinner.style.display = "block";
  </script>

  <nav th:replace="layout/general/sidebar :: sidebar"></nav>
  <!-- <section th:replace="layout/clientes/navegacionCliente :: navegacionCliente"></section> -->
  <section th:replace="layout/clientes/agregarCliente :: agregarCliente"></section>
  <section th:replace="layout/clientes/listadoClientes :: listadoClientes"></section>

  <script th:src="@{/js/layoutEvents.js}"></script>
  <script src="/js/filterTable.js"></script>
</body>

</html>