<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/general/head :: head">
  <title>Recibos</title>
</head>

<body>
  <script th:src="@{/js/layout.js}"></script>
  <nav th:replace="layout/general/sidebar :: sidebar"></nav>
  <!-- <section th:replace="layout/empresa/navegacionEmpresa :: navegacionEmpresa"></section> -->
  <section th:replace="layout/empresa/perfilEmpresa :: perfilEmpresa"></section>

  <script th:src="@{/js/layoutEvents.js}"></script>
  <script src="/js/filterTable.js"></script>
</body>

</html>