<section th:fragment="perfilEmpresa" class="dashboard">
    <link rel="stylesheet" th:href="@{/css/rutas.css}" />
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>
        <div class="search-box-ruta"></div>

        <a th:href="@{/editarempresa}" class="btn btn-sm btn-primary rounded float-end me-2 py-2"
            data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false"
            aria-controls="collapseWidthExample">
            <small><i class="fa-solid fa-pen-to-square"></i>
                <b>[[#{empresa.editar}]]</b></small>
        </a>

        <img src="/img/profile.jpg" alt="" />
    </div>

    <div class="dash-content">
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible mt-2 fade show">
            <p th:text="${successMessage}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="overview">
            <div class="title">
                <i class="uil uil-building"></i>
                <span class="text">Empresas</span>
            </div>
            <div class="boxes mx-auto">
                <div class="box company box1 mx-auto">
                    <img src="/img/undraw_rocket.svg" class="card-img rounded-start d-block mx-auto mt-3"
                        style="width: 200px; height: 150px;" alt="Image">
                    <span class="text-title" th:text="${empresa.nombre}"></span>
                    <span class="text" th:text="${empresa.direccion}"></span>
                    <span class="text" th:text="${empresa.email}"></span>
                    <span class="text" th:text="${empresa.telefono}"></span>
                </div>
            </div>
            <div class="collapse collapse-vertical" id="collapseWidthExample">
                <div class="boxes mx-auto mt-3">
                    <div class="box company box3 mx-auto">
                        <h1 class="title fs-3 text-center text-title" th:text="#{empresa.editar}" id="editarEmpresa">
                            Edit
                            User</h1>
                        <form th:action="@{/editarEmpresa}" method="POST" class="was-validated" th:object="${empresa}">
                            <input type="hidden" th:field="*{idEmpresa}" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="nombre" class="col-form-label text">Nombre</label>
                                        <input type="text" class="form-control" th:field="*{nombre}" required="true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="email" class="col-form-label text">Email</label>
                                        <input type="email" class="form-control" th:field="*{email}" required="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="cedula" class="col-form-label text">telefono</label>
                                        <input type="text" class="form-control" th:field="*{telefono}"
                                            required="true" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="direccion" class="col-form-label text">Dirección</label>
                                        <input class="form-control" th:field="*{direccion}" required="true" rows="2" />
                                    </div>
                                </div>
                            </div>
                            <div class="justify-content-between float-end mt-2">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
                                    type="button" class="btn btn-light" th:text="#{barra.salir}">Close</a>
                                <button type="submit" class="btn btn-primary" th:text="#{usuario.guardar}">Save
                                    changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>