<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/general/head :: head">
  Editar cliente
</head>

<body>
  <nav th:replace="layout/general/sidebar :: sidebar"></nav>
  <main class="dashboard">
    <link rel="stylesheet" th:href="@{/css/rutas.css}" />
    <div class="top">
      <i class="uil uil-bars sidebar-toggle"></i>
      <div class="search-box-ruta"></div>

      <img src="/img/profile.jpg" alt="" />
    </div>
    <div class="dash-content">
      <div th:if="${successMessage}" class="alert alert-success alert-dismissible mt-2 fade show">
        <p th:text="${successMessage}"></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="overview">
        <div class="boxes mx-auto">
          <div class="box company box1 mx-auto">
            <h1 class="title mt-0 text-center text-title">Editar Usuario</h1>
            <form th:action="@{/editarUsuario}" method="POST" class="was-validated" th:object="${usuario}">
              <input type="hidden" th:field="*{idUsuario}" />
              <input type="hidden" th:field="*{cobrador.fechaIngreso}" />
              <input type="hidden"
                th:field="*{cobrador.idCobrador}" /><!--Se estaban creando cobradores cada vez que se editaba debido a que no se estaba enviando el id del cobrador-->
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="nombre" class="col-form-label text">Nombre</label>
                    <input type="text" class="form-control" th:field="*{cobrador.nombre}" required="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="apellido" class="col-form-label text">Apellido</label>
                    <input type="text" class="form-control" th:field="*{cobrador.apellido}" required="true" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="cedula" class="col-form-label text">Cédula</label>
                    <input type="number" class="form-control" th:field="*{cobrador.cedula}" required="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="telefono" class="col-form-label text">Télefono</label>
                    <input type="tel" class="form-control" th:field="*{cobrador.telefono}" required="true" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="mb-3">
                    <label for="direccion" class="col-form-label text">Dirección</label>
                    <textarea class="form-control" th:field="*{cobrador.direccion}" required="true" rows="2"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="username" class="col-form-label text">Username</label>
                    <input type="text" class="form-control" th:field="*{username}" required="true" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="password" class="col-form-label text">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" required="true" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="idEmpresa" class="col-form-label text">Empresa</label>
                    <select class="form-control" th:field="*{empresa}" required="true">
                      <option th:each="empresa : ${empresas}" th:value="${empresa.idEmpresa}"
                        th:text="${empresa.nombre}">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="rol" class="col-form-label text">Rol</label>
                    <select class="form-control" name="rol" id="rol" required="true">
                      <div th:if="${rolUsuario == 'Admin'}">
                        <option value="1" th:text="${rolUsuario}" selected></option>

                        <option value="2">Cobrador</option>
                      </div>
                      <div th:if="${rolUsuario == 'Cobrador'}">
                        <option value="2" th:text="${rolUsuario}" selected></option>
                        <option value="1">Admin</option>

                      </div>
                    </select>
                  </div>
                </div>
              </div>
              <div class="justify-content-between float-end">
                <a href="/usuarios" type="button" class="btn btn-light" th:text="#{barra.salir}">Close</a>
                <button type="submit" class="btn btn-primary" th:text="#{usuario.guardar}">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script th:src="@{/js/layout.js}"></script>
</body>

</html>