<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Editar Usuario</title>
  <meta charset="UTF-8"/>
</head>
<body>
<section th:fragment="editarUsuario">
<div class="modal fade" id="editarUsuario" tabindex="-1" aria-labelledby="editarUsuarioLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" th:text="#{usuario.editar}" id="editarUsuario">Edit User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:action="@{/editarUsuario}" method="POST" class="was-validated" th:object="${usuario}">
          <!-- Datos del usuario a editar -->
          <input type="hidden" th:field="*{idUsuario}" />

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="nombre" class="col-form-label">Nombre</label>
                <input type="text" class="form-control" th:field="*{cobrador.nombre}" required="true"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="apellido" class="col-form-label">Apellido</label>
                <input type="text" class="form-control" th:field="*{cobrador.apellido}" required="true"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="cedula" class="col-form-label">Cédula</label>
                <input type="number" class="form-control" th:field="*{cobrador.cedula}" required="true"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="telefono" class="col-form-label">Télefono</label>
                <input type="tel" class="form-control" th:field="*{cobrador.telefono}" required="true"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="direccion" class="col-form-label">Dirección</label>
                <textarea class="form-control" th:field="*{cobrador.direccion}" required="true" rows="2"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="username" class="col-form-label">Username</label>
                <input type="text" class="form-control" th:field="*{username}" required="true"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" class="form-control" th:field="*{password}" required="true"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="idEmpresa" class="col-form-label">Empresa</label>
                <select class="form-control" th:field="*{empresa}" required="true">
                  <!-- Iterar sobre la lista de empresas y mostrarlas como opciones -->
                  <option th:each="empresa : ${empresas}" th:value="${empresa.idEmpresa}" th:text="${empresa.nombre}"></option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="rol" class="col-form-label">Rol</label>
                <select class="form-control" name="rol" id="rol" required="true">
                  <option value="0" th:text="${rolUsuario}" th:disabled="true" selected></option>
                  <option value="1">Admin</option>
                  <option value="2">Cobrador</option>
                </select>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{barra.salir}">Close</button>
            <button type="submit" class="btn btn-primary" th:text="#{usuario.guardar}">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
</body>
</html>
